@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/AlexBrush-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'OperatorMono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OperatorMono-XLight.otf');
}
@font-face {
    font-family: 'OperatorMono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OperatorMono-Medium.otf');
}

/* --Font Consolas-- */
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Consolas/consola.ttf')
}
@font-face {
    font-family: 'Consolas';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Consolas/consolai.ttf')
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/consolas/consolab.ttf')
}