@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


/* --Icons-- */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* --Fonts locals-- */
@import url('fuentes.css');

:root {
    --f-open-sans: 'Open Sans', sans-serif;
    --f-open-sans-cond: 'Open Sans Condensed', sans-serif;
    --f-operator-m: 'OperatorMono';
    --f-alex-brush: 'Alex Brush', cursive;
    --f-patua-one: 'Patua One', cursive;
    --f-shadow-into-l: 'Shadows Into Light', cursive;
    --f-merriweather: 'Merriweather', serif;
    --f-bebas:'Bebas Neue', cursive;
    --f-grape:'Grape Nuts', cursive;
    --f-consolas: 'Consolas';
    --f-yanone: 'Yanone Kaffeesatz', sans-serif;


    /* --Colors-- */
    --orange-one: #f6921e;
    --orange-two: #fdb200;
    --orange-three: #f37001;
    --yellow-one: #FFEF27;
    --yellow-two: #f6d037;
    --black-one:#262626;
    --black-two:rgba(18,18,18,0.7);
    --blue-one:#24a9df;
    --blue-two: #5ba8db;
    --blue-three: #002451;
    --blue-four: #afe3e8;
    --blue-five: #44538c;
    --blue-six:  #0076bd;
    --blue-seven: #065b9c;
    --green-one:#8bc53f;
    --red-one:#ed4036;
    --red-two:#3a0000;
    --violet-one: #c18de2;
    --gray-one: #c3c1cf;
    --gray-two: #a1b0a0;
    --gray-three: #2a2d3e;

}

/* --Fonts-- */
.f-open-sans{
    font-family: var(--f-open-sans);
}
.f-open-sans-c{
    font-family: var(--f-open-sans-cond);
}
.f-operator-m{
    font-family: var(--f-operator-m);
}
.f-alex-brush{
    font-family: var(--f-alex-brush);
}
.f-patua-one{
    font-family: var(--f-patua-one);
}
.f-shadow-into-l{
    font-family: var(--f-shadow-into-l);
}
.f-merriweather{
    font-family: var(--f-merriweather);
}
.f-bebas{
    font-family: var(--f-bebas);
}
.f-grape{
    font-family: var(--f-grape);
}
.f-consolas{
    font-family: var(--f-consolas);
}

.f-yanone{
    font-family: var(--f-yanone);
}

/* font sizes */
.fs-10 {
    font-size: 10px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-17 {
    font-size: 17px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-25{
    font-size: 25px !important;
}
.fs-30{
    font-size: 30px !important;
}
.fs-35{
    font-size: 35px !important;
}
.fs-40{
    font-size: 40px !important;
}
.fs-50 {
    font-size: 50px !important;
}
.fs-60 {
    font-size: 60px !important;
}
.fs-70 {
    font-size: 70px !important;
}
.fs-80 {
    font-size: 80px !important;
}
.fs-90 {
    font-size: 90px !important;
}
.fs-110 {
    font-size: 110px;
}
.fs-160 {
    font-size: 160px;
}
.fs-170 {
    font-size: 170px;
}
.fs-180 {
    font-size: 180px;
}
.fs-200 {
    font-size: 200px;
}

/* --Font weight-- */
.fw-3 {
    font-weight: 300 !important;
}
.fw-4 {
    font-weight: 400 !important;
}
.fw-5 {
    font-weight: 500 !important;
}
.fw-6{
    font-weight: 600 !important;
}
.fw-7{
    font-weight: 700 !important;
}
.fw-8{
    font-weight: 800 !important;
}
.fw-9{
    font-weight: 900 !important;
}
/* --Line height-- */
.lh-17{
    line-height: 17px !important;
}
.lh-18{
    line-height: 18px !important;
}
.lh-20{
    line-height: 20px !important;
}
.lh-23{
    line-height: 23px !important;
}
.lh-25{
    line-height: 25px !important;
}
.lh-30{
    line-height: 30px !important;
}
.lh-35{
    line-height: 35px !important;
}
.lh-40{
    line-height: 40px !important;
}
.lh-50{
    line-height: 50px !important;
}
.lh-60{
    line-height: 60px !important;
}
.lh-70{
    line-height: 70px !important;
}
.lh-80{
    line-height: 80px !important;
}
.lh-90{
    line-height: 90px !important;
}

/* --Backgrounds-- */
.bg-gradient-black-gray-one {
    background: -webkit-gradient(linear, 100% 81%, 20% 0%, from(#1c1c1c), to(#3d3d3d));
}
.bg-transparent-one {
    background: rgba(0,0,0,0.3) !important;
}
.bg-yellow-one {
    background: var(--yellow-one) !important;
}
.bg-yellow-one {
    background: var(--yellow-two) !important;
}
.bg-blue-one {
    background: var(--blue-five) !important;
}
.bg-cero {
    background: 0.0 !important;
}
.bg-black {
    background: var(--black-two) !important;
}

/* --Text colors */
.tc-orange-one{
    color:var(--orange-one) !important;
}    
.tc-orange-two{
    color:var(--orange-two) !important;
}    
.tc-orange-three{
    color:var(--orange-three) !important;
}    
.tc-yellow-one{
    color:var(--yellow-one) !important;
}    
.tc-yellow-two{
    color:var(--yellow-two) !important;
}    
.tc-black-one{
    color:var(--black-one) !important;
}
.tc-blue-one{
    color: var(--blue-one) !important;
}
.tc-blue-two{
    color: var(--blue-two) !important;
}
.tc-blue-three{
    color: var(--blue-three) !important;
}
.tc-blue-four{
    color: var(--blue-four) !important;
}
.tc-blue-five{
    color: var(--blue-five) !important;
}
.tc-blue-six{
    color: var(--blue-six) !important;
}
.tc-blue-seven{
    color: var(--blue-seven) !important;
}
.tc-green-one{
    color: var(--green-one) !important;
}
.tc-red-one{
    color: var(--red-one) !important;
}
.tc-red-two{
    color: var(--red-two) !important;
}
.tc-violet-one{
    color: var(--violet-one) !important;
}
.tc-gray-one{
    color: var(--gray-one) !important;
}
.tc-gray-two{
    color: var(--gray-two) !important;
}
.tc-gray-three{
    color: var(--gray-three) !important;
}

/* --Text shadows-- */
.text-shadow-one {
    text-shadow: 5px 10px 5px #000000;
}    
/* --Box Shadows-- */
.shadow-one {
    box-shadow: 1px 39px 39px #000000;
}
.shadow-two {
    -moz-box-shadow:10px 10px 5px #000000;
    -webkit-box-shadow:10px 10px 5px #000000;
    box-shadow:10px 10px 5px #000000;
}
.shadow-three {
    box-shadow: 5px 5px 5px #000;
}
.drop {
    filter: drop-shadow(0 11px 1px rgba(0, 0, 0, 0.7));
}
.drop-two {
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.7));
}

/* --Text border-- */
.text-border-yellow-one{
    -webkit-text-stroke: 1px var(--yellow-one);
}
.text-border-blue-one{
    -webkit-text-stroke: 1px var(--blue-one);
}
.text-border-blue-two{
    -webkit-text-stroke: 1px var(--blue-two);
}

/* --tipos de border-- */
.border-dashed{
    border: 1px dashed #dee2e6!important;
}
.border-r-dashed{
    border-right: 1px dashed #dee2e6!important;
}
.border-l-dashed{
    border-left: 1px dashed #dee2e6!important;
}
.border-t-dashed{
    border-top: 1px dashed #dee2e6!important;
}
.border-b-dashed{
    border-bottom: 1px dashed #dee2e6!important;
}
.b-r50{
    border-radius: 50%  !important;
}
/* --Padding-- */
.p-6{
    padding: 4rem !important;
}
.p-50{
    padding: 50px;
}

/* --Contenedores-- */
.over-f-scroll{
    overflow: scroll;
}

/* --Espaces-- */
.espacio{
    height: 50px;
}    
.espaciar {
    height: 100px;
}    
.espaciado{
    height: 150px;
}
.max-ancho-uno{
    max-width: 320px;
}
.max-ancho-dos{
    max-width: 500px;
}
.min-ancho-uno{
    min-width: 320px;
}
.min-ancho-dos{
    min-width: 500px;
}

/* --Tamaños imagen--*/
.img-mh-10{
    max-height: 10px !important;
}
.img-mh-50{
    max-height: 50px !important;
}
.img-mh-100{
    max-height: 100px !important;
}
.img-mh-150{
    max-height: 150px !important;
}
.img-mh-180{
    max-height: 180px !important;
}
.img-mh-200{
    max-height: 200px !important;
}
.img-mh-220{
    max-height: 220px !important;
}
.img-mh-250{
    max-height: 250px !important;
}
.img-mh-300{
    max-height: 300px !important;
}
.img-mh-320{
    max-height: 320px !important;
}
.img-mh-350{
    max-height: 350px !important;
}
.img-mh-400{
    max-height: 400px !important;
}
.img-mh-450{
    max-height: 450px !important;
}
.img-mh-500{
    max-height: 500px !important;
}
.img-mh-550{
    max-height: 550px !important;
}
.img-mh-600{
    max-height: 600px !important;
}
.img-mh-650{
    max-height: 650px !important;
}
.img-mh-700{
    max-height: 700px !important;
}
.img-mh-750{
    max-height: 750px !important;
}
.img-mh-800{
    max-height: 800px !important;
}
.img-mh-850{
    max-height: 850px !important;
}
.img-mh-900{
    max-height: 900px !important;
}
.img-mh-950{
    max-height: 950px !important;
}
.img-mh-1000{
    max-height: 1000px !important;
}
/* --Hovers-- */
.h-blue:hover{
    color: var(--blue-one) !important;
    transition: color 0.5s ease
}
.cursor-p {
    cursor: pointer;
}

/* --Border radius-- */
.br-5{
    border-radius: 5px;
}

/* --Letras-- */
.ls-5{
    letter-spacing: 5px;
}
.ls-3{
    letter-spacing: 3px;
}
.ls-1{
    letter-spacing: 1px;
}

.l-menu {
    height: 45px;
    white-space: pre;
    text-align: center;
    margin: 1px;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px #000000;
    box-shadow: 5px 5px 5px #000000;
}