.tituloPost {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: var(--fuente-dos);
    text-transform: uppercase;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.headerPost {
    height: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subTituloPost {
    font-family: 'OperatorMono';
    color: #f6921e;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 600 !important;
    line-height: 40px;
}
.fa-clone:hover {
    color: var(--color-cinco);
}
.fa-clone:active {
    color: var(--color-uno);
}
.bg-Angular a:hover {
    color: black !important;
}

/*
    IMAGEN HOVER
*/
.contener{
    position: relative;
    width: 100%;
    height: 350px;
    cursor: pointer;
}
.imagen {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.overlayer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
    }

.textox {
    font-family: var(--fuente-dos);
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5px;
    line-height: 2rem;
    }
    
.contener:hover .overlayer {
    height: 100%;
}

/* Botón hamburguesa */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
    transform: translateY(-16px);
}
.menu-btn-burger::after {
    transform: translateY(16px);
}
.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
.h-hight-zoom{
    transition: transform .2s;
    cursor: pointer;
}
.h-hight-zoom:hover{
    transform: scale(1.4);
}
.h-medium-zoom{
    transition: transform .2s;
    cursor: pointer;
}
.h-medium-zoom:hover{
    transform: scale(1.2);
}
/* -------------------- */