/* ESTILOS GENERALES PARA TODO */
/* FUENTES EXTERNAS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* FUENTES LOCALES */
@import url('fuentes.css');
/* ESTILOS GENÉRICOS PARA TODO --------------------------------------*/
.row,.col{
   margin: 0;
    padding:0;
}
html{
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --fuente-uno: 'Open Sans', sans-serif;
    --fuente-dos: 'Open Sans Condensed', sans-serif;
    --fuente-tres: 'OperatorMono';
    --fuente-cuatro: 'Alex Brush', cursive;
    --fuente-cinco: 'Patua One', cursive;
    --fuente-seis: 'Shadows Into Light', cursive;
    --color-uno: #f6921e;
    --color-dos:#262626;
    --color-tres:#24a9df;
    --color-cuatro:#8bc53f;
    --color-cinco:#ed4036;
    --color-seis: #c18de2;
    --color-siete: #c3c1cf;
    --color-ocho: #a1b0a0;
    --color-nueve: #5ba8db;
    --color-dark-uno: #2a2d3e;
    --color-dark-dos: #002451;
    --color-dark-tres:#3a0000;
}
.w-100{
    width: 100%;
}
.fuenteUno {
    font-family: var(--fuente-uno);
}
.fuenteDos {
    font-family: var(--fuente-dos);
}
.fuenteTres {
    font-family: var(--fuente-tres);
}
.fuenteCuatro {
    font-family: var(--fuente-cuatro);
}
.fuenteCinco {
    font-family: var(--fuente-cinco);
}
.fuenteSeis {
    font-family: var(--fuente-seis);
}
.fondoNegro {
    background: -webkit-gradient(linear, 100% 81%, 20% 0%, from(#1c1c1c), to(#3d3d3d));
}
.sombraUno {
    box-shadow: 1px 39px 39px #000000;
}
.transparenciaUno {
    background: rgba(0,0,0,0.3) !important;
}
.sombra-texto {
    text-shadow: 5px 10px 5px #000000;
}
.colorNegro {
    background: black;
}
.t1 {
    color: var(--color-uno) 
   /* NARANJA */
}
.t2{
    color: var(--color-dos) 
   /* NEGRO */
}
.t3{
    color: var(--color-tres) 
   /* AZUL CLARO */
}
.t4{
    color: var(--color-cuatro) 
   /* VERDE CLARO */
}
.t5{
    color: var(--color-cinco) 
   /* ROJO */
}
.t6{
    color: var(--color-seis) 
   /* VIOLETA */
}
.t7{
    color: yellow;
}
.t8{
    color: var(--color-siete);
   /* GRIS */
}
.t9{
    color: var(--color-ocho);
   /* GRIS VERDOSO */
}
.t10{
    color: var(--color-nueve);
   /* AZUL CLARO OTRO TONO */
}
.w-320{
    width: 320px;
}
.color-hover-negro:hover {
    color: var(--color-dos) !important;
}
/* Para las categorías */
.bg-Android{
    background-color: #85b84e;
}
.bg-Angular{
    background-color: #ca1717;
}
.bg-Css{
    background-color: #438bab;
}
.bg-Dart{
    background-color: #0076bd;
}
.bg-Develop{
    background-color: #e6b430;
}
.bg-Flutter{
    background-color: #065b9c;
}
.bg-Git{
    background-color: #ef5133;
}
.bg-Html{
    background-color: #f37001;
}
.bg-Java{
    background-color: #eb2025;
}
.bg-Javascript{
    background-color: #f6d037;
}
.bg-Linux{
    background-color: #010101;
}
.bg-Php{
    background-color: #45538b;
}
.bg-Sql{
    background-color: #fdb200;
}
.bg-Wordpress{
    background-color: #35697d;
}
/* HEADER  ----------------*/
.header {
    padding: 0px;
    color: #f1f1f1;
    z-index: 999;
    background: white;
}
.go-up {
    color: white;
    position: fixed;
    right: 35px;
    bottom: 35px;
    padding: 10px;
    background: black;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 39px 39px #000000;
    z-index: 999;
}
div.go-up i {
    cursor: pointer;
}
/* ....................... */

/* FOOTER */
input#email, textarea#texarea {
    background: transparent;
    margin-bottom: 10px;
    border-radius: 0;
}
#bt-enviar {
    border: none;
}
.comillas {
    font-size: 100px;
    line-height: 40px;
    font-family: 'OperatorMono';
    margin-top: 7rem;
}
.cursor-p {
    cursor: pointer;
}
a {
    color: #fff;
    transition: 0.3s;
}
a:hover {
    text-decoration: none !important;
}
.espacio{
    height: 50px;
}
.espaciar {
    height: 100px;
}
.espaciado{
    height: 150px;
}
.tituloUno{
    font-family: var(--fuente-uno);
}
.tituloDos{
    font-family: var(--fuente-dos) !important;
}
.tituloTres{
    font-family: var(--fuente-tres);
}
.tituloCuatro {
    font-family: var(--fuente-cuatro);
}
.titleBig{
    font-size: 146px;
}
.fw-3 {
    font-weight: 300 !important;
}
.fw-6{
    font-weight: 600 !important;
}
.fw-3{
@media only screen and (max-width:414px) and (min-width:320px){
}
    font-weight: 300 !important;
}
.fs-17 {
    font-size: 17px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-25{
    font-size: 25px !important;
}
.fs-40{
    font-size: 40px !important;
}
.fs-60 {
    font-size: 60px !important;
}
.fs-50 {
    font-size: 50px !important;
}
.fs-160 {
    font-size: 160px;
}
.lh-18{
    line-height: 18px !important;
}
.text-shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}
.text-shadow-a {
    text-shadow: black 0.2em 0.1em 0.1em;
}
/* ESTILOS IMPORTABLES */
.zi-1{
    z-index: 1;
}
.zi-5{
    z-index: 5;
}
.zi-10{
    z-index: 10;
}
.zi-15{
    z-index: 15;
}
/* ESTILOS CAROUSEL FRASES */
.retire-dots .owl-dots {
    display: none !important;
}


.drop {
    filter: drop-shadow(0 11px 1px rgba(0, 0, 0, 0.7));
}
.drops{
    filter: drop-shadow(0 11px 1px rgba(0, 0, 0, 0.7));
}
.drops:active {
    filter: none;
}
.fuenteTitulo {
    font-family: 'Patua One', cursive;
}
.tamanoUno {
    font-size: 27px;
}
.inputUno {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1 white;
    height: 35px;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
}
.transparencia {
    background: rgba(0,0,0,0.4);
}
.titulo-vertical{
    transform: rotate(-90deg);
    color: #fff;
    font-family: var(--fuente-dos);
}
.copiado:active {
    color:#fff 
}
@media (max-width: 992px) {
    .titulo-vertical{
        transform: rotate(0deg);
   }
}
@media (max-width: 601px) {
    .grandes {
        display: none;
   }
}
@media (min-width: 600px) {
    .mobile {
        display: none;
   }
}
.ancho {
    width: 415px;
    background-color: black;
}
.bl1 {
    width: 300px;
    position: relative;
    top: 30px;
}
#checbox {
    order:2;
}
#label {
    order:1;
}
.custom-control-input:checked ~ .custom-control-label::after {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    right: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.l-menu{
    height: 45px;
    white-space: pre;
    text-align: center;
    margin: 1px;
    -moz-box-shadow:5px 5px 5px #000000;
    -webkit-box-shadow:5px 5px 5px #000000;
    box-shadow:5px 5px 5px #000000;
}
.l-menu a {
    text-decoration: none;
    font-family: var(--fuente-seis);
    font-size: 30px;
}
.l-menu a:hover {
    color: black !important;
}
.post-z{
    z-index: 1;
}
.rot-1 {
    transform: rotate(3deg);
    z-index: 3;
}
.rot-2 {
    transform: rotate(-1deg);
    z-index: 3;
}
.rot-3 {
    transform: rotate(-3deg);
    z-index: 3;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
/* Estilos Categoría */
.colorDevelop{
    color:#e6b430;
}

/* MENÚ CATEGORIA */
.h-zoom {
    transition: transform .4s;
}
.h-zoom:hover{
    transform: scale(1.07);
}
.categorias {
    font-size: 3rem;
    font-family: var(--fuente-dos);
    font-weight: bold;
    letter-spacing: 12px;
    border-bottom: 2px solid #dc9047;
}
.menu-categorias {
    background: url(../assets/categorias/fondo.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 1px 39px 39px #000000;
    margin-bottom: 5rem;
}